@import '../node_modules/reset-css/less/reset';

body {
  font-family: Source Sans Pro,sans-serif;
}

#root {
  min-height: 100vh;

  .auth-container {
    margin-top: 8%;
    display: flex;
    justify-content: center;

    h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 28px;
      font-weight: 500;
      color: #3f20ba;
      margin-bottom: 24px;
    }

    .auth-wrapper {
      padding: 24px;
    }
  }

  .dashboard-container {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;

    .top-bar {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #ddd;
      box-shadow: 2px 2px 0 rgba(39,54,78,0.09);
      display: flex;
      justify-content: center;
      background-color: #fff;

      .top-inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 960px;

        h3 {
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          color: #3f20ba;
        }
      }
    }

    .add-button-container {
      display: flex;
      justify-content: center;
      padding: 24px 0;

      .add-button-inner-wrapper {
        min-width: 960px;
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        .ant-btn {
          height: 38px;
          display: flex;
          align-items: center;
        }

        svg {
          color: #fff;
          font-size: 18px;
          border: 0;
        }
      }
    }

    .docs-list-container {
      display: flex;
      justify-content: center;
      .docs-list-inner-wrapper {
        min-width: 960px;
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;

        li {
          margin-bottom: 24px;
          margin-right: 105px;

          &:nth-of-type(3n) {
            margin-right: 0;
          }

          .ant-card {
            width: 250px;
            border: 1px solid #ddd;
            border-radius: 5px;

            .ant-card-body {
              padding: 0;

              .card-core {
                overflow: hidden;
                height: 150px;
                border-radius: 5px;
                background: url('./assets/doc-background.svg');
                background-size: 100% auto;
                display: flex;
                justify-content: center;
                align-items: center;

                #copy-button, #preview-button {
                  visibility: hidden;
                  transition: visibility 0.1s ease-in-out;
                }

                #preview-button {
                  .anticon {
                    color: #fff;
                  }
                }

                .ant-btn {
                  background: #3f20ba;
                  border-radius: 0;

                  &:hover {
                    background: #3f20ba;
                  }
                  span {
                    color: #fff;
                  }
                }

              }
              .card-bottom {
                padding: 8px 16px;

                .card-info {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 8px;
                  p {
                    font-size: 12px;
                  }
                }
              }

              &:hover {
                box-shadow: 0 12px 16px 0 rgba(65,80,88,0.16);
                transition: box-shadow 0.1s ease-in-out;

                #copy-button, #preview-button {
                  visibility: visible;
                  transition: visibility 0.1s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}

.ant-tooltip-inner {
  text-align: center;
}
