@import '../node_modules/reset-css/less/reset';

body {
  font-family: Source Sans Pro,sans-serif;
}

#root {
  min-height: 100vh;

  .auth-container {
    margin-top: 8%;
    display: flex;
    justify-content: center;

    h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 28px;
      font-weight: 500;
      color: #3f20ba;
      margin-bottom: 24px;
    }

    .auth-wrapper {
      padding: 24px;
    }
  }

  .dashboard-container {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;

    .top-bar {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #ddd;
      box-shadow: 2px 2px 0 rgba(39,54,78,0.09);
      display: flex;
      justify-content: center;
      background-color: #fff;

      .top-inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 960px;

        h3 {
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          color: #3f20ba;
        }
      }
    }

    .add-button-container {
      display: flex;
      justify-content: center;
      // align-items: center;
      padding: 24px 0;

      .add-button-inner-wrapper {
        min-width: 960px;
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        .ant-btn {
          height: 38px;
          display: flex;
          align-items: center;
        }

        svg {
          color: #fff;
          font-size: 18px;
          border: 0;
        }
      }

    }
  }
}