body {
  font-family: Source Sans Pro,sans-serif;
}

#root {
  min-height: 100vh;

  .auth-container {
    margin-top: 8%;
    display: flex;
    justify-content: center;

    h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 18px;
      font-size: 28px;
      font-weight: 500;
      color: #3f20ba;
      margin-bottom: 24px;
    }

    .auth-wrapper {
      padding: 24px;
    }
  }
}